body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-areas:
		"hd hd hd"
		"main main main"
		"footer footer footer";
	background-color: #f2f4f3;
	margin: 0;
	font-family: "Raleway", "sans-serif";
	color: #4c5760;
}

.about-me-section {
	grid-area: main;
}

.about-me-section,
.about-me,
.introduction,
.intro {
	display: flex;
	justify-content: center;
}

.about-me {
	margin: auto;
	width: 70%;
	height: 500px;
	border-radius: 15px;
	background-color: #444054;
	color: #f2f4f3;
	box-shadow: 15px 0 15px #4c5760;
}

.introduction {
	width: 70%;
	text-align: justify;
	font-size: 1.2em;
	align-items: center;
	flex-direction: column;
	margin: 40px 50px 100px 10px;
}

.introduction h4 {
	font-size: 1.6em;
}

@media (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10vh 200vh 10vh;
		grid-template-areas:
			"hd hd"
			"main main"
			"footer footer";
	}

	.about-me {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 1100px;
		margin: 200px 0;
		border-radius: 0;
	}

	.introduction {
		margin: 0 0 50px 0;
	}
}

@media (min-width: 601px) and (max-width: 800px) {
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10vh 160vh 10vh;
		grid-template-areas:
			"hd hd"
			"main main"
			"footer footer";
	}

	.about-me {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 1200px;
		width: 90%;
	}

	.introduction {
		font-size: 1.4em;
		margin: 0 0 20px 0;
	}
}

@media (min-width: 801px) and (max-width: 1024px) {
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10vh 100vh 10vh;
		grid-template-areas:
			"hd hd"
			"main main"
			"footer footer";
	}

	.about-me {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 1000px;
	}

	.introduction {
		margin: 0 0 50px 0;
	}
}
