footer {
	display: flex;
	grid-area: footer;
	background-color: #444054;
	box-shadow: 15px 0 15px #4c5760;
	color: #fff;
	width: 100%;
}

.footer-contact,
.social-network {
	display: flex;
	align-items: center;
}

.footer-contact {
	width: 25%;
	justify-content: space-evenly;
	font-size: 1.2rem;
}

.social-network {
	width: 75%;
	justify-content: start;
	font-size: 1.5rem;
}

.social-network h2 {
	margin-left: 50px;
}

.facebook,
.twitter {
	margin-left: 30px;
}

/* responsive design */
@media (max-width: 600px) {
	.footer-contact,
	.social-network {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.social-network {
		font-size: 1.2em;
	}

	.network {
		display: flex;
		justify-content: center;
	}

	.social-network h2,
	.facebook,
	.twitter {
		margin-left: 15px;
	}
}
