footer {
	display: flex;
	grid-area: footer;
	background-color: #444054;
	color: #fff;
	width: 100%;
}

.footer-contact,
.social-network {
	display: flex;
	align-items: center;
}

.footer-contact {
	width: 25%;
	justify-content: space-evenly;
	font-size: 1.2rem;
}

.social-network {
	width: 75%;
	justify-content: start;
	font-size: 1.5rem;
}

.social-network h2 {
	margin-left: 50px;
}

.facebook,
.twitter {
	margin-left: 30px;
}
