@import "./header.css";
@import "./footer.css";
@import "./image.css";
@import "./searchBar.css";

body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10vh 250vh 5vh;
	grid-template-areas:
		"hd hd hd"
		"main main main"
		"footer footer footer";
	background-color: #f2f4f3;
	margin: 0;
	font-family: "Montserrat", "sans-serif";
	color: #4c5760;
}

a {
	text-decoration: none;
}

.container {
	height: 100%;
	grid-area: main;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	text-align: justify;
}

.ideas,
.latest-posts {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.work-projects,
.books,
.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.categories a {
	margin-top: 30px;
	font-size: 1.2em;
	color: #000000;
}

a:hover {
	color: #bebbbb;
}
