@import "./header.css";
@import "./footer.css";
@import "./image.css";
@import "./searchBar.css";

body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10vh 300vh 5vh;
	grid-template-areas:
		"hd hd hd"
		"main main main"
		"footer footer footer";
	background-color: #f2f4f3;
	margin: 0;
	font-family: "Raleway", "sans-serif";
	color: #4c5760;
}

a {
	text-decoration: none;
}

button {
	width: 30%;
	height: 40px;
	background-color: #444054;
	color: #f2f4f3;
	border-radius: 10px;
}

.container,
.ideas-title,
.ideas,
.latest-title,
.latest-post,
.img-container,
.post,
.contact,
.form-contact,
.form-contact label {
	display: flex;
}

.container,
.img-container,
.post,
.contact,
.form-contact {
	flex-direction: column;
}

.container {
	height: 100%;
	grid-area: main;
	font-size: 1.2em;
	text-align: justify;
}

.ideas,
.latest-post {
	justify-content: space-evenly;
	margin: 80px auto;
}

.contact,
.ideas,
.latest-post,
.ideas-title,
.latest-title,
.posts {
	width: 100%;
}

.contact,
.img-container,
.post,
.form-contact label {
	align-items: center;
}

.ideas-title,
.img-container,
.latest-title,
.contact-title,
.contact-form,
.form-contact label {
	justify-content: center;
}

.ideas {
	height: 500px;
}

.img-container {
	font-size: 1.5em;
	font-weight: bold;
}

.ideas-title,
.latest-title,
.contact-title {
	font-size: 3em;
	font-weight: bold;
}

.ideas-title {
	margin: 120px auto 30px;
}

.latest-title,
.contact-title {
	margin: 100px auto;
}

.latest-post {
	height: 900px;
}

.posts {
	background-color: #444054;
	box-shadow: 15px 0 15px #4c5760;
}

.posts h2 {
	color: #fff;
}

.post {
	background-color: #f2f4f3;
	width: 33%;
	height: 900px;
	margin: 0 50px;
	border-radius: 15px;
}

.description {
	line-height: 1.4;
	margin: 0 30px 20px;
}

.description h2 {
	color: #4c5760;
	font-size: 1.2em;
	font-weight: bold;
}

.date {
	text-decoration: underline;
	font-style: italic;
	font-size: 1.1em;
}

.review {
	font-size: 0.8em;
	margin-bottom: 10px;
}

.contact-form {
	width: 900px;
	height: 350px;
	background-color: #444054;
}

.form-contact {
	height: 100%;
}

.form {
	width: 100%;
	height: 80%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.form-contact label {
	color: #f2f4f3;
}

.form input {
	width: 80%;
	height: 40%;
	margin: auto;
	padding-left: 10px;
}

.form-contact button {
	display: flex;
	justify-content: center;
	align-items: center;
}

button:hover {
	background-color: #9d5c63;
}

a:hover,
.link i:hover {
	color: #bebbbb;
}

.img-container img:hover {
	margin-bottom: 50px;
	transform: scale(1.1);
}
