img {
	height: 350px;
	width: 450px;
	border-radius: 10px;
}

.img-container img {
	border: 1px solid transparent;
	box-shadow: 5px 5px 5px #4c5760;
	margin-bottom: 30px;
	transition: transform 0.5s;
}

.img {
	margin-bottom: 30px;
}

.post img {
	width: 400px;
	height: 450px;
	margin-top: 30px;
}

figcaption {
	font-size: 0.6em;
	font-style: italic;
}

@media (min-width: 1380px) and (max-width: 1600px) {
	img {
		width: 400px;
		height: 300px;
	}
	.post img {
		width: 350px;
		height: 330px;
	}
}

@media (min-width: 1050px) and (max-width: 1379px) {
	img {
		width: 300px;
		height: 250px;
	}
	.post img {
		width: 250px;
		height: 250px;
		margin-top: 0;
	}
	figcaption {
		margin-left: 5px;
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	img {
		width: 250px;
		height: 300px;
	}

	.post img {
		width: 250px;
		height: 250px;
		margin-top: 0;
	}

	figcaption {
		margin-left: 5px;
	}
}

@media (max-width: 600px) {
	img {
		width: 250px;
		height: 250px;
	}

	.post img {
		width: 250px;
		height: 250px;
		margin-top: 10px;
	}
}
