body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 10vh 350vh 10vh;
	grid-template-areas:
		"hd hd hd"
		"main main main"
		"footer footer footer";
	background-color: #f2f4f3;
	margin: 0;
	font-family: "Raleway", "sans-serif";
	color: #4c5760;
}

.categories,
.nav-cat,
.categ,
.links-recipes,
.recipes,
.recipes-card,
.recipe-description,
.ingredients,
.ing li,
.recipe-steps,
.recipe-steps ul {
	display: flex;
}

.categories,
.nav-cat,
.categ,
.links-recipes,
.recipes,
.ing li {
	justify-content: center;
}

.categories,
.nav-cat,
.categ,
.links-recipes,
.recipes,
.recipe-description {
	with: 100%;
}

.ingredients-title,
.recipes h2,
.step-title {
	font-weight: bold;
}

.categories,
.navbar-cat {
	justify-content: space-evenly;
	align-items: center;
	height: 100px;
}

.categ i {
	color: #444054;
	margin-right: 20px;
}

.links-recipes {
	justify-content: center;
	border-right: 1px solid #444054;
	height: 50%;
	padding-right: 50px;
}

.recipes {
	height: 300vh;
	width: 80%;
	margin: auto;
	align-items: center;
	color: #4c5760;
	box-shadow: 15px 0 15px #4c5760;
}

.recipes h2 {
	font-size: 2.5em;
	margin: 50px auto;
}

.recipes-card {
	flex-direction: column;
	align-items: center;
	box-shadow: 15px 0 15px #4c5760;
	background-color: #444054;
	color: #f2f4f3;
	width: 80%;
	height: 82%;
}

.stars {
	color: #ffb600;
}

.recipe-description {
	margin-top: 100px;
}

.ingredients,
.ing,
.recipe-steps,
.recipe-steps ul,
.recipe-steps li {
	flex-direction: column;
}

.ingredients {
	width: 30%;
	margin-left: 20px;
}

.ing,
.recipe-steps li {
	align-items: flex-start;
	margin-bottom: 30px;
}

.ing li {
	width: 50%;
	border-bottom: 1px solid #f2f4f3;
	padding-bottom: 10px;
	padding-top: 10px;
}

.ingredients-title,
.step-title {
	font-size: 1.2em;
	margin-bottom: 20px;
}

.recipe-steps {
	margin-right: 50px;
	width: 70%;
}

.recipe-steps h4 {
	margin-bottom: 20px;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: underline;
}

.categ li:hover,
.categ li i:hover {
	color: #9d5c63;
}

/* responsive design */
@media (min-width: 801px) and (max-width: 1024px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 400vh 10vh;
		grid-template-areas:
			"hd hd"
			"main main"
			"footer footer";
	}

	li {
		margin-right: 10px;
		height: 100%;
	}

	.categ {
		font-size: 1.2em;
		justify-content: space-evenly;
	}

	.links-recipes {
		padding-right: 10px;
	}

	.last {
		border-right: none;
		padding-right: 0;
	}

	.categ i {
		margin-right: 10px;
	}

	.categ,
	.recipes,
	.recipes-card,
	.ingredients,
	.recipe-steps {
		width: 100%;
	}

	.recipes {
		height: 450vh;
		margin: 0;
	}

	.recipe-description {
		flex-direction: column;
	}

	.recipe-steps {
		display: flex;
		flex-direction: column;
		width: 95%;
		margin-right: 0;
	}

	.recipe-description,
	.ingredients,
	.recipe-steps,
	.ing,
	.recipe-steps li {
		align-items: center;
	}

	.ingredients {
		margin-left: 0;
	}

	.ingredients-title,
	.step-title {
		font-size: 2em;
	}

	.step-title {
		justify-content: center;
	}

	.ing,
	.recipe-steps li {
		font-size: 1.5em;
		margin-bottom: 50px;
	}
}

@media (min-width: 601px) and (max-width: 800px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 400vh 10vh;
		grid-template-areas:
			"hd hd"
			"main main"
			"footer footer";
	}

	li {
		margin-right: 10px;
		height: 100%;
	}

	.links-recipes {
		padding-right: 10px;
	}

	.last {
		border-right: none;
		padding-right: 0;
	}

	.categ i {
		margin-right: 10px;
	}

	.recipes,
	.recipes-card,
	.ingredients,
	.recipe-steps {
		width: 100%;
	}

	.recipes {
		height: 400vh;
		margin: 0;
	}

	.recipe-description {
		flex-direction: column;
	}

	.recipe-steps {
		display: flex;
		flex-direction: column;
		width: 95%;
		margin-right: 0;
	}

	.recipe-description,
	.ingredients,
	.recipe-steps,
	.ing,
	.recipe-steps li {
		align-items: center;
	}

	.ingredients {
		margin-left: 0;
	}

	.step-title {
		justify-content: center;
	}
}

@media (max-width: 600px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 400vh 10vh;
		grid-template-areas:
			"hd hd"
			"main main"
			"footer footer";
	}

	.categories {
		display: none;
	}

	.recipes {
		height: 380vh;
		box-shadow: none;
	}

	.recipes,
	.recipes-card {
		margin: 0;
		width: 100%;
	}

	.recipes h2 {
		font-size: 2em;
	}

	.stars {
		margin-left: 20px;
	}

	.recipe-description {
		margin-top: 80px;
	}

	.recipe-steps {
		margin: 0 20px 0 50px;
	}

	.ingredients {
		margin-left: 10px;
	}

	.ingredients-title {
		font-size: 1em;
		text-align: center;
	}

	.step-title {
		font-size: 1.1em;
	}

	.ing {
		align-items: center;
	}

	.ing li {
		width: 100%;
		margin: auto;
	}

	.recipe-steps li {
		align-items: center;
	}

	.ing,
	.recipe-steps {
		font-size: 0.8em;
		text-align: center;
	}
}
